@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import "./typography.css";

body 
{
    margin: 10px 0px 10px 0px;
}


main 
{
    background-color: black; 
}

.cover-photo 
{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.main-cont
{
    display: flex;
    flex-direction: column;
}

.spacer 
{
    background-color: white;
    padding: 50px 0px 50px 0px;
}

.spacer2
{
    padding: 125px 0px 125px 0px;
}
/* 
.spacer2
{
    padding: 50px 0px 50px 0px;
} */

.content 
{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#434343, #0D0D0D);
}


.paragraph1
{
    position: relative;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph-top1, .paragraph-bottom1 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.moon 
{
    position: relative;
    width: 17.5%;
    transition: 1s;
    top: 10px;
    left: 10px;


}


.header, .header2, .text 
{
    font-family: open-sans;
    color: white;
    text-align: center;
}


.header 
{
    margin: 5px;
    letter-spacing: 2px;
}


.header2
{
    margin: 30px 10px 10px 10px;
    letter-spacing: 2px;
    /* white-space: nowrap; */
}

.text 
{
    text-align: center;
    line-height: 30px;
}


.line 
{
    width: 80%;
}

.icon {
    width: 125px;
}


.sub-paragraph {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 50%;
    margin-top: 15px;
}

.paragraph-bottom {
    width: 80%;
}

.paragraph-bottom > .text {
    color: #D6D6D6;
   margin-top: 5px;
   padding-bottom: 20px;
}

.paragraph-top {
    width: 80%;
}

.paragraph-top > .header {
    white-space: nowrap;
}